<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/default.js" charset="utf-8"></script>
</head>

<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="/index.html" >Home</a>
        <a href="/about.html" id="select_color" >About</a>
        <a href="/game.html" >Game</a>
        <a href="/register.html" >Register</a>
        {% if user %}
        <a href="/profile.html" class="profile">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="description">About FaceNote</div>
        <hr>
        <div class="about">
            <h2>Welcome to FaceNote! My dear friend!</h2>
            <p>FaceNote is a powerful web application. Not only can you use it to chat with your friends,
            you can also use it to play an interesting game with them. To enjoy all the functions of FaceNote,
            please log in first in the "Login" tab. Once you logged in, You can update your information so that
            others can understand you better. You can also change your password in the profile page. If you forget
            your password, you can get your account back by proving your username and email. If you haven't got an
                account yet, please click the "Register" button to sign up one.</p>
            <p>In the main page of FaceNote, there is a Blog section, you can leave your wonderful moment in here.
            You can also see moments posted by other users. Now, FaceNote support multiple type of file, such as
            image, pdf, and video. In the same page, you can an "Online Users" section which displays all the logged
            in users at this moment. You can simply click its photo or username to see its profile, and click the
                "message" icon in the right to send private message. The receiver will be noticed when new messages
                come.</p>
            <p>The most attractive function of FaceNote is its “Game”. In order to join the Game Room, please log in
            first. There are three “boxes” in Game Room page, the biggest box is a canvas, you can draw on it and
            see what other players draw on it. There are many types of game players can play, such as “You Draw, I
            guess”, or players can draw together. If you are not good at drawing, you can talk to other players on
            the second box, which is a chat box. The box in the right show a list of players who is current joined
                the Game Room. You can invite all online users to join the Game Room by clicking "Invite All Users"
                button.</p>

            <p><b>We hope you and your friends have a great time with FaceNote.</b> Can't wait to see you online.</p>

            <p><b>Special thanks for the designer and app developers.</b></p>
            <ul>
                <li>Zhongai Shi</li>
                <li>Zhongen Shi</li>
                <li>Haohua Feng</li>
                <li>Baicheng Huang</li>
            </ul>
            <p><b>May 2021</b></p>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2021 FaceNote</p>
        </div>
    </div>
</body>
</html>
