<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="/index.html">Home</a>
        <a href="/about.html" >About</a>
        <a href="/game.html" >Game</a>
        <a href="/register.html" >Register</a>
        {% if sender %}
        <a href="/profile.html" class="profile" id="select_color">{{sender}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>

<script>
$(document).ready(function() {
    var socket = io();

    var sender = "{{sender}}";
    var receiver = "{{send_to}}";

    socket.on('privateMessage',function(msg) {
        if(msg.sender == receiver){
            var target = document.getElementById("message");
            var history = target.innerHTML;
            history += "<div class='receiver_message' title=" + msg.sender + "--" + msg.date + ">" + msg.message + "</div>";
            target.innerHTML = history;
            target.scrollTop = target.scrollHeight;
        }
        else{
    //      using Snackbar/Toast to notice user there is new message comes
    //      https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar
            var x = document.getElementById("newCome");
            x.innerHTML = "New message come from "+ msg.sender;
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
        }
    });

    socket.on('notice', function(players) {
        var y = document.getElementById("invitation");
        y.innerHTML = "A game invitation come from "+ players.sender;
        y.className = "show";
        setTimeout(function(){ y.className = y.className.replace("show", ""); }, 10000);
    });

    $('#sendbutton').on('click',function() {
        var sender = "{{sender}}";
        var receiver = "{{send_to}}";
        var message = $('#myMessage').val();
        if (message){
            var target = document.getElementById("message");
            var history = target.innerHTML;
            message1 = message.replace(/&/g, '&amp;');
            message1 = message1.replace(/</g, '&lt;');
            message1 = message1.replace(/>/g, '&gt;');
            message1 = message1.replace(/"/g, '&quot;');
            message1 = message1.replace(/'/g, '&apos;');
            history += "<div class='sender_message' title=" + sender + ">" + message1 + "</div>";
            target.innerHTML = history;
            target.scrollTop = target.scrollHeight;

            socket.emit('message',{'sender':sender, 'receiver':receiver, 'message':message});
            $('#myMessage').val('');
        }
    });
});
</script>
    <div class="main">
        <div class="description">Chatting with <a href="../user_profile/{{send_to}}">{{send_to}}</a></div>
        <hr/>
        <div class="direct_chat_container">
            <div class="direct_chat_box" id="message">
                {% for message in messages %}
                    {% if message['sender']== sender  %}
                        <div class="sender_message" title="{{sender}}--{{message['date']}}">{{message['message']}}</div>
                    {% else %}
                        <div class="receiver_message" title="{{send_to}}--{{message['date']}}">{{message['message']}}</div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="send_out">
                <input type="text" id="myMessage">
                <button id="sendbutton">send</button>
            </div>
        </div>
    </div>
    <div class="footer" id="chat_footer">
        <p>Copyright &copy; 2021 FaceNote</p>
    </div>
</body>
</html>
