<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Room</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="/index.html" >Home</a>
        <a href="/about.html" >About</a>
        <a href="/game.html" id="select_color">Game</a>
        <a href="/register.html">Register</a>
        {% if sender %}
        <a href="/profile.html" class="profile">{{sender}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div id="game_container1">
            <div class="description" id="game_des">Game Room &nbsp;&nbsp;&nbsp;<button id="invite">Invite All Users</button></div>
        </div>
        <hr>
        <div id="game_container2">
            <div id="game_left">
                <input type="color" id="color1" /><span id="color_bar">Color Bar</span>
                <button id="clearDraw">Clear draw</button>
            </div>
            <div id="game_instruction">
                Game 1: Player A draws, the rest of players guess what A is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;drawing by typing in chat box.<br/>
                Game 2: Multiple players paint together to draw an artwork.<br>
                Game 3: Whatever you have in your mind.
            </div>
            <br/>
        </div>
 <script>
    var socket = io();

    var sender = "{{sender}}";

    socket.on('privateMessage',function(msg) {
//      using Snackbar/Toast to notice user there is new message comes
//      https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar
        var x = document.getElementById("newCome");
        x.innerHTML = "New message come from "+msg.sender;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
    });

    window.onload=function () {
       let oV=document.getElementById('drawBoard');
       let gd=oV.getContext('2d');
       let oColor=document.getElementById('color1');
       let color;
       oColor.onchange=function () {
            color=this.value;
       }
       let initX,initY;
       oV.onmousedown=function (ev) {
            initX=ev.offsetX;
            initY=ev.offsetY;
            oV.onmousemove=function (ev) {
                 gd.beginPath();
                 gd.moveTo(initX,initY);
                 gd.lineTo(ev.offsetX,ev.offsetY);
                 lastX=ev.offsetX;
                 lastY=ev.offsetY;
                 gd.strokeStyle=color;
                 gd.stroke();
                 socket.emit('draw1',{'initX':initX, 'initY':initY,'lastX':lastX,'lastY':lastY,'color':color});
                 initX=lastX;
                 initY=lastY;
            }
            oV.onmouseup=function () {
                oV.onmousemove=null;
                oV.onmouseup=null;
            }
       }
       socket.emit('gameChat',{'sender':sender, 'message': sender + " joined the game room."});
    } //window.onload

    socket.on('draw2',function(data) {
       let oV2=document.getElementById('drawBoard');
       let gd2=oV2.getContext('2d');
       gd2.beginPath();
       gd2.moveTo(data.initX,data.initY);
       gd2.lineTo(data.lastX,data.lastY);
       gd2.lineCap = 'round';
       gd2.strokeStyle=data.color;
       gd2.stroke();
    });

    $('#invite').on('click',function() {
        socket.emit('invite',{'sender':sender});
    });

    socket.on('notice', function(players) {
        var y = document.getElementById("invitation");
        if(players.sender != sender){
            y.innerHTML = "A game invitation come from "+ players.sender;
            y.className = "show";
            setTimeout(function(){ y.className = y.className.replace("show", ""); }, 10000);
        }
    });

    $(document).ready(function() {
        $('#clearDraw').on('click',function() {
            let oV3 = document.getElementById('drawBoard');
            let gd3 = oV3.getContext('2d');
            oV3.height = oV3.height;
            socket.emit('clear1',{'height':oV3.height, 'receiver': '{{send_to}}'});
    });

    socket.on('clear2',function(data) {
        let oV4=document.getElementById('drawBoard');
        let gd4=oV4.getContext('2d');
        oV4.height = data.height;
    });

    $('#gameTextSend').on('click',function() {
        var message = $('#gameText').val();
        if (message){
            socket.emit('gameChat',{'sender':sender, 'message':message});
            $('#gameText').val('');
        }
    });

    socket.on('gameChat2', function(msg) {
        var target = document.getElementById("gameMessage");
        var history = target.innerHTML;
        if(msg.sender == sender){
            history += "<div class='sender_message' title='Sent: " + sender + "'>" + msg.message + "</div>";
        }
        else{
            history += "<div class='receiver_message' title='Sent: " + msg.sender + "'>" + msg.message + "</div>";
        }
        target.innerHTML = history;
        target.scrollTop = target.scrollHeight;
    });

    socket.on('new_gamer', function(user) {
        var users = document.getElementById('gamers');
        var all_users = users.innerHTML;
<!--        if (!all_users.includes(user)){-->
            var new_user = '<a href="user_profile/' + user + '" class="profile">' + user + '</a><br>';
            users.innerHTML += new_user;
<!--        }-->
    });

    socket.on('message', function(players) {
        var users = document.getElementById('gamers');
        users.innerHTML = "";

        for(i = 0; i < players.length; i++){
            var gamer = '<a href="user_profile/' + players[i] + '" class="profile">' + players[i] + '</a><br>';
            users.innerHTML += gamer;
        }
    });

});

 </script>
        <div class="gameContainer">
            <div class="game"><canvas id="drawBoard" width="500" height="500"></canvas></div>
            <div class="gameChat">
                <div id="gameMessage"></div>
                <div class="gameChatMenu">
                    <input type="text" id="gameText">
                    <button id="gameTextSend">send</button>
                </div>
            </div>
            <div class="game_users">
                <h3>Game Room Players</h3>
                <hr/>
                <div id="gamers">
                {% for user in players %}
                    <a href="user_profile/{{user}}" class="profile">{{user}}</a><br>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2021 FaceNote</p>
        </div>
    </div>
</body>
</html>
