<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/default.js" charset="utf-8"></script>
    <script src="../static/js/reset_check.js" charset="utf-8"></script>
</head>

<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="/index.html" >Home</a>
        <a href="/about.html" >About</a>
        <a href="/game.html" >Game</a>
        <a href="/register.html" >Register</a>
        {% if user %}
        <a href="/profile.html" class="profile" id="select_color">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="description">Change Password</div>
        <hr>
        <div class="reset_container">
            <div class="reset">
                <form method="post">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="{{user}}" readonly><br>
                    <label for="old_password">Old password:</label>
                    <input type="password" name="old_password" id="old_password" required><br>
                    <label for="new_password">New password:</label>
                    <input type="password" name="new_password" id="new_password" required onkeyup="password_validation(); check_password_match()">
                    <br>
                    <label for="cnew_password">Confirm password:</label>
                    <input type="password" name="cnew_password" id="cnew_password" required onkeyup="check_password_match()">
                    <br>
                    <input type="submit" id="submit" value="Confirm">
                </form>
            </div>
            <div class="instructions">
                <p id="valid_pw"><font color='red'> ❌ Password requirements <br></font></p>
                <p id="checkpw"><font color='red'> ❌ Password not checked <br></font></p>
            </div>
        </div>
        <p class="casualCase"><a href="profile.html">Cancel</a></p>
        <div class="footer">
            <p>Copyright &copy; 2021 FaceNote</p>
        </div>

    </div>
</body>
</html>
