<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/default.js" charset="utf-8"></script>
</head>
<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="/index.html" >Home</a>
        <a href="/about.html" >About</a>
        <a href="/game.html" >Game</a>
        <a href="/register.html">Register</a>
        {% if user %}
        <a href="/profile.html" class="profile" id="select_color">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="description">{{look_user['username']}}'s Profile Page
        </div>
        <hr>
       <div class="row check">
           <div class="column side ">
               <p>Username: {{look_user['username']}}</p>
               <p>Email: {{look_user['email']}}</p>
               <p>Gender: {{look_user['gender']}}</p>
               <p>Birth: {{look_user['birth']}}</p>
               <p>Personal_Page: {{look_user['personal_page']}}</p>
           </div>
           <div class="column middle check_icon">
               <img src="/static/images/{{look_user['icon']}}" id="pic" width='250' /><br>
           </div>
       </div>
       <div class="bot_profile check_des">
           <p><span>Introduction:</span> {{look_user['introduction']}} </p><br/>

       </div>
        <div class="footer">
            <p>Copyright &copy; 2021 FaceNote</p>
        </div>
    </div>
</body>
</html>
